@font-face {
  font-family: 'titles'; 
  src: url('fonts/titles.woff'); 
}
@font-face {
  font-family: 'content'; 
  src: url('fonts/content.woff'); 
}
header {
  background: black;
  font-family: "titles"; 
  position:fixed;
  top:0px;
  left: 0px; 
  margin:auto; 
  z-index:100000; 
  width:100%;
}
  .headerTop{
  color:#47B32E;
  position:relative;
  top: 0;
  left:0;
  width: 100%;
  height: 10%;
  }
  .headerBottom{
  padding-top: 4%;
  padding-bottom: 4%;
  position:relative;
  bottom: 0;
  left:0;
  width: 100%;
  height: 20%;
  background:#efefee;
  text-align: center;
  }
  .siteTitle{
  text-align:center;
  font-size: 400%;
  }
  .icons{
  display: flex;
  display: -webkit-flex;
  text-align: center;
  border-left: 10%;
  }
  .iconItem{
  flex-grow: 1;
  -webkit-flex-grow: 1;
  }
  .anchor{
    display: block; 
    position: relative; 
    top: -350px; 
    visibility: hidden;
  }
  a { 
    color:grey;
    text-decoration:none;
  }
.mainContent{
  padding-top: 20%;
  padding-bottom: 10%;
  margin:auto; 
  width:80%;
  height: 80%;
}
.section{
  padding-top: 20%;
  padding-bottom: 40%;
}
.colorWhite{
  color:white;
}
.colorGreen{
  color:#47B32E;
}
.sectionHeader {
  text-align: center;
  font-family:"titles";
  color:#47B32E;
  font-size: 200%;
}
.sectionContent {
  text-align: justify;
  font-family:"content";
  line-height: 200%;
}
.bottom{
  margin-bottom: 30%;
}
footer {
  background: black;
  font-family: "titles"; 
  position: fixed;
  bottom:0px;
  right: 0px; 
  margin:auto; 
  z-index:100000; 
  width:100%;
  height: 6%;
}
.alignFooterCenter{
  position: relative;
  border-top: thick double black;
  display:block;
  text-align: center;
  font-size: 120%;
}
